html {
    font-size: 18px;
    overflow: auto;
}

body {
    margin: 40px auto;
    max-width: 800px;
    line-height: 2;
    color: #333;
    padding: 0 10px;
}

ruby {
    ruby-position: under;
    ruby-align: start;
}

rt {
    font-size: 12px;
}

i {
    font-variant: small-caps;
    font-style: normal;
}