html {
    font-size: 18px;
    overflow: auto;
}

body {
    margin: 40px auto;
    max-width: 800px;
    line-height: 2;
    padding: 0 10px;
}

ruby {
    background-color: aliceblue;
}

ruby.missing {
    background-color: mistyrose;
}

ruby.missing rt {
    background-color: mistyrose;
}

rt {
    background-color: aliceblue;
    font-size: 12px;
}